.jumbotron{
	background-color: #b5f5ef;
	margin-bottom: 5px;
}
h1{
	font-family: 'Fredericka the Great', cursive;
	font-size: 25px;
}

body {
	background-color: #009688;
}
.windowDisAll{
	width: 450px;
	height: 100px;
	padding: 10px;
	margin: 0 auto;	
}

.window {
	border: 1px solid black;
	height: 70px;
	padding: 10px;
	text-align: center;
	font-family: 'Bubbler One', sans-serif;
	width: 150px;
	float: left;
	position: relative;
	background-color: white;
	font-size: 40px;
	margin: 5px;
}

#middleDis {
	width: 100px;	
}

.eyes{
	padding:20px;
	width: 350px;
	height: 100px;
	margin: 0 auto;	
}

#leftEye{
	width: 70px;
	height: 70px;
	padding: 10px;
	margin: 0 auto;
	float: left;
}

#rightEye{
	width: 70px;
	height: 70px;
	padding: 10px;
	margin: 0 auto;
	float: right;
}

#mouth{
	width: 108px;
	height: 60px;
	padding: 10px;
	margin: 0 auto;
}

.fullCalculator {
	border-radius: 25px;
	border: 6px solid black;
	padding: 20px; 
	width: 550px;
	height: 600px; 
	margin: 0 auto;
	background-color: #cacee1;
}

.calcButtons {
	padding: 0px 50px;
	width: 350px;
	margin: 0 auto;
}

#sqrt, #square{
	padding: 10px;
	margin: 0px 10px;
	margin-left: 25px;
}

#square{
	padding: 10px;
	margin: 0px 0px;
}

.num, .oper, #decimal, #equal {
	width: 2.5em;
	background-color: grey;
	border: none;
	border-radius: 50%;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin: 8px 4px;
	cursor: pointer;
}

#clear{
	width: 90px;
	background-color: #009688;
	border: none;
	border-radius: 50%;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 4px;
	cursor: pointer;
}



