body{
	background-color: #CDFBE7;
}

.mobile {
	display: none;
}

@media all and (max-width: 720px) {
	.mobile{
		display: block;
	}
}

/*@media all and (max-width: 479px) {
	.mobile{
		display: block;
	}
}*/

.header{
	/*background-color: #AA4465;*/
	background-image: linear-gradient(90deg, #9A98B5, #FFFFFF);
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	text-align: left;
	padding: 10px;
	margin-bottom: 20px;


}

#searchBox{
	width: 250px;
	height: 40px;
	padding-left: 5px;
	font-style: italic;
	box-shadow: 0 8px 6px -6px black;
	margin-bottom: 20px;
	text-align: center;
}

#button{
}


.col-md-4{
	background-color: #DDFFF7;
	box-shadow: inset 0 0 5px #AA4465;
	padding: 15px 15px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;


}


.container{
	text-align: center;
}

/*h1{
	text-align: center;
}*/

h3{
	text-align: left;
	font-family: 'Raleway', sans-serif;
}


#map {
	width: 100%;
	height: 400px;
	background-color: grey
	

}
