div{
	border: 1px solid black;
	background-color: grey;

}

div > h1{
	text-align: center;
	color: white;
}

span{
	font-size: 40px;
	color: white;
}

h2{
	text-align: center;
	color: red;
	font-size: 40px;
	display: none;
}

dt{
	font-weight: bold;
}


.invisible{
	display: none;
}

.highlight{
	background-color: magenta;
}

.highlight2{
	background-color: yellow;
}

.bold{
	font-weight: bold;
}
ul{
	display: none;
}