

body{
	font-family: 'Raleway', sans-serif;
	background: linear-gradient(to right, rgb(31, 28, 44), rgb(146, 141, 171));
	color: white;
}
.navbar{
	margin-bottom: 0px;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px;
	text-align: center;
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	color: #666;
	font-family: 'Open Sans Condensed', sans-serif;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	font-family: 'Open Sans Condensed', sans-serif;

}

li{
	float: left;
}

li a{
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #ddd;
}

li a.active {
	color: white;
	background-color: rgb(146, 141, 171);
}



