body{
	background-color: #93E1D8;

}

.jumbotron{
	background-color: #AA4465;
	color: #D8CCC2;
	font-family: 'Raleway', sans-serif;

}

#searchBox{
	width: 250px;
	height: 40px;
	padding: 5px;
	font-style: italic;
	box-shadow: 0 8px 6px -6px black;
	margin-bottom: 20px;
}

#button{
}


.col-md-4{
	background-color: #DDFFF7;
	box-shadow: inset 0 0 5px #AA4465;
	padding: 15px 15px;

}

.colSpace{
	height: 240px;
}

.container{
	text-align: center;
	margin-bottom: 40px;
}

h1{
	text-align: center;
}

h3{
	text-align: left;
}



#map {
	width: 100%;
	height: 400px;
	background-color: grey
	box-shadow: 0 8px 6px -6px black;

}
